*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: jrbold;
    src: url(./FiraSans-Bold.d98cb4.ttf);
}
@font-face {
    font-family: jrnormal;
    src: url(./FiraSans-Light.970fca.ttf);
}
@font-face {
    font-family: jrhead;
    src: url(./Recoleta-Light.226a21.ttf);
}
@font-face {
    font-family: jrthin;
    src: url(./Recoleta-Thin.d30291.ttf);
}
::selection{
    color: rgb(0, 150, 0);
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
    
}
#loader svg{
    position: absolute;
}
#nav{
    height: 11vh;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    padding: 5vh;
    /* background: #000; */
}
#nav #n2{
    align-items: center;
    display: flex;
    gap: 2vh;
    font-family: jrbold;
    font-size: 2vh;
}
#nav #n2 a{
    padding: 0.5vh 1vw;
    border-radius: 50px;
    transition: all ease 0.7s;
}
#nav #n2 a:hover{
    padding: 0.5vh 1vw;
    background-color: black;
    border-radius: 50px;
    color: white;
}
#nav i{
    font-size: 3.5vh;
}
#nav svg{
    scale: 1.3;
}
#mainbtn{
    position: fixed;
    left: 50vw; 
    top: 90vh;
    padding: 1.5vh 3vh;
    font-size: 1.5vw;
    z-index: 9;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    font-family: jrbold;
    background: #000;
    color: white;
    box-shadow: 5px 10px rgba(78, 78, 78, 0.769);
}

#main{
    position: relative;
    overflow-x: hidden;
}
#page1{
    padding: 15vh 5vw 5vh 5vw;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#page1 #head1{
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 5vw;
}
#page1 #head1 div{
    display: flex;
}
#page1 #head2{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
}
#page1 #head2 svg{
    scale: 1.4;
    animation: rotate 10s linear infinite;
}
#page1 #head2 #rotate{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 #head2 #rotate #aunty {
    position: absolute;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    overflow: hidden;
}
#page1 #head2 #rotate img{
    object-fit: cover;
}
#page1 #head3{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    line-height: 27vh;
    font-size: 13vw;
    font-family: jrthin;
}
#page1 h6{
    width: 40%;
    font-size: 3vw;
    font-family: jrnormal;
}
#page1 #overlay{
    position: absolute;
    top: 15%;
}
#page1 #bg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 #bg img{
    scale: 1.1;
    transition: all ease 1s;
}
#page2{
    height: 150vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 #balloon{
    height: 100vh;
    width: 100%;
    clip-path: ellipse(50% 50% at 50% 50%);
    background-image: url(./balloons.webp);
    background-position: center;
    background-size: cover;
}
#page3{
    height: 130vh;
    width: 100vw;
    position: relative;
    text-align: center;
}
#page3 #top{
    height: 55%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    /* background: #000; */
    align-items: center;
    justify-content: space-around;
}
#page3 #top img{
    left: -9%;
    top: -50%;
    position: absolute;
    scale: 0.3;
}
#page3 #top h1{
    font-size: 10vw;
    font-family: jrhead;
    color: #BB7F7B;
}
#page3 #top h2{
    width: 80%;
    font-size: 3vw;
    font-family: jrhead;
}
#page3 #top #bold{
    font-family: jrbold;
    letter-spacing: 0.2vw;
}
#page3 #bottom{
    margin-top: 5%;
    height: 35%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#page3 #bottom img{
    right: -13%;
    top: -15%;
    position: absolute;
    scale: 0.5;
}
#page3 #bottom p{
    width: 40%;
    font-family: jrnormal;
    font-size: 1.1vw;
}
#page3 #bottom h5{
    font-size: 1.5vw;
    font-family: jrbold;
}
#page3 #bottom button{
    /* text-align: center; */
    color: #BB7F7B;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.7vw 2.5vw;
    border-radius: 50px;
    background-color: rgb(235, 217, 215);
    border: 1px solid  #bf7b76;
}
#page4{
    height: 150vh;
    width: 100vw;
    /* background: #000; */
}
#page4 #fonts{
    margin-top: 20vh;
    height: 120vh;
    width: 100vw;
    padding: 5vw;
    position: relative;
}
#page4 #fonts h1{
    font-size: 11vw;
    font-family: jrthin;
    line-height: 12vw;
}
#page4 #fonts div{
    overflow: hidden;
}
#page4 #fonts div:nth-child(2){
    margin-left: 40vw;
    position: absolute;
    z-index: 1;
}
#page4 #fonts div:nth-child(3){
    margin-top: 20vh;
}
#page4 #fonts div:nth-child(5){
    margin-top: 20vh;
    margin-left: 43vw;
}
#page4 #fonts div:nth-child(4){
    /* background: #000; */
    position: absolute;
    z-index: 1;
}
#page4 #fonts #circle{
    top: 30%;
    left: -20%;
    z-index: 0;
    position: absolute;
}
#page4 #fonts #orange{
    top: 0;
    right: -15%;
    position: absolute;
    z-index: 0;
}
#page5{
    height: 130vh;
    width: 100vw;
    position: relative;
    background: rgb(243, 234, 217);
}
#page5 #top #row{
    height: 30vh;
    width: 100vw;
    display: flex;
    gap: 3vw;
    white-space: nowrap;
    flex-direction: row;
    animation: rowanime 10s linear infinite;
}
#page5 #top #row h1{
    font-size: 10vw;
    font-family: jrthin;
}
@keyframes rowanime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page5 #pinpage1{
    margin-top: 50%;
    height: 90vh;
    width: 90vw;
    left: 5vw;
    position: absolute;
    background-image: url(./Fruits_at_home.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
#page5 #pinpage2{
    margin-top: 50%;
    height: 90vh;
    width: 90vw;
    left: 5vw;
    position: absolute;
    background-image: url(./Identite_Visuelle_arteck.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
#page5 #pinpage3{
    margin-top: 50%;
    height: 90vh;
    width: 90vw;
    left: 5vw;
    position: absolute;
    background-image: url(./charte_moduleo.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
#page5 #pinpage4{
    margin-top: 50%;
    height: 90vh;
    width: 90vw;
    left: 5vw;
    position: absolute;
    background-image: url(./Office-Concept.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
#page5 .pinpage{
    padding: 5vw;
}
#page5 .pinpage h1{
    color: white;
    font-size: 12vw;
    font-family: jrhead;
}
#page5 svg{
    animation: rotate 10s linear infinite;
}
#page6 h1{
    font-family: jrnormal;
    font-size: 5vw;
}
#page6 h6{
    font-family: jrbold;
    font-size: 2vw;
    font-weight: 500;
}
#page6 p{
    font-size: 1.1vw;
}
#page6 button{
    color: #BB7F7B;
    font-size: 2vw;
    font-weight: 500;
    padding: 0.7vw 1vw;
    border-radius: 50px;
    background-color: rgb(235, 217, 215);
    border: 1px solid  #bf7b76;
}
#page7 h1{
    font-family: jrthin;
    font-size: 11vw;
    line-height: 12vw;
    z-index: 3;
}
#page7 :nth-child(2){
    margin-left: 35vw;
}
#page7 :nth-child(4){
    margin-left: 30vw;
}
#page7 :nth-child(6){
    margin-left: 28vw;
}
#page7 img{
    position: absolute;
    z-index: -1;
}
#page7 #pink{
    top: 30vh;
    left: -15vw;
}
#page7 #orange{
    top: 10vh;
    right: -15vw;
}
#page8{
    background: rgb(243, 234, 217);
}
#page8 #hr{
    height: 1px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}
#page8 h1{
    font-size: 7vw;
    font-family: jrhead;
}
#page8 h5{
    font-size: 2vw;
    font-family: jrnormal;
}
#page9{
    background: rgb(243, 234, 217);
}
#page9 #left h2{
    font-family: jrnormal;
    font-size: 3.7vw;
}
#page9 #right h5{
    font-family: jrnormal;
}
#page9 #right span{
    font-weight: bolder;
}
#page9 #right .line{
    width: 100%;
    height: 1px;
    background: #000;
}
#page9 #right h4{
    font-size: 1vw;
    font-weight: 750;
    color: #000000d2;
}
#page9 button{
    font-size: 1vw;
    width: 50%;
    font-weight: 700;
    padding: 1.5vw;
    border-radius: 50px;
    background-color: #E7B36F;
}
#page10 #circle1{
    height: 40vw;
    width: 40vw;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#page10 #circle1 img{
height: 60vw;
width: 40vw;
}
#page10 #circle2{
    margin-top: 5vw;
    margin-left: -10vw;
    z-index: 3;
    background-color: #e7c8a1;
}
#page10 #circle2 h5{
    color: #bf7b76;
    font-weight: 600;
    font-size: 1.2vw;
}
#page10 #circle2 h2{
    font-weight: 600;
    font-size: 1.5vw;
    color: #000000b8;
    font-family: jrbold;
}
#page10 #bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#page10 .circlee{
    height: 7vw;
    width: 7vw;
    z-index: 5;
    border-radius: 50%;
    background-color: #BB7F7B;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
#page10 #circlee6 img{
    scale: 1.7;
}
#page10 #circlee8 img{
    height: 85%;
    scale: 1.3;
}
#menu{
    display: none;
}
#page11{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page11 img{
    height: 4vw;
}
#page12{
    height: 110vh;
    width: 100vw;
    color: white;
    position: relative;
    background-image: url(./page12.webp);
    background-size: cover;
    background-position: center;
}
#page12 #topp #t{
    height: 30vh;
    width: 100%;
    font-size: 11vw;
    gap: 3vw;
    font-family: jrthin;
    display: flex;
    white-space: nowrap;
    align-items: center;
    animation: rowanime 10s linear infinite;
}
#page12  #middlee {
    display: flex;
    gap: 5vh;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#page12  #middlee h2{
    font-size: 3vw;
    font-family: jrnormal;
}
#page12  #middlee p{
    width: 50%;
    font-size: 1.2vw;
}
#page12  #middlee svg{
    animation: rotate 10s linear infinite;
}
#page12 #bottomm{
    font-size: 1vw;
    font-family: jrbold;
}

@media (max-width: 500px) {
    #loader svg{
        scale: 0.5;
    }
    #nav #n2{
        display: none;
    }
    #menu{
        display:  block;
    }
    #mainbtn{
        width: 75%;
        font-size: 4vw;
    }
    #page1{
        height: 75vh;
        /* background-color: #bf7b76; */
        padding: 5vw;
    }
    #page1 #head1{
        margin-top: -5vh;
    }
    #page1 #head2{
        height: 55vh;
        gap: 5vh;
        flex-direction: column-reverse;
        margin-top: -16vh;
    }
    #page1 #head3{
        margin-top: -45vh;
    }
    #page1 h1{
        font-size: 15vw;
        font-weight: bold;
        color: #000000d1;
    }
    #page1 h6{
        width: 40%;
        font-size: 3vw;
        font-weight: 700;
        font-family: jrnormal;
    }
    #page2{
        height: 50vh;
    }
    #page2 #balloon{
        height: 30vh;
    }
    #page3{
        height: 90vh;
        /* background-color: #BB7F7B; */
    }
    #page3 #top img{
        left: -30%;
        top: 0;
    }
    #page3 #top h1{
        font-size: 17vw;
    }
    #page3 #top h2{
        width: 90%;
        font-size: 4.2vw;
        font-weight: 600;
        color: #000000c5;
    }
    #page3 #top #bold{
        font-size: 6vw;
    }
    #page3 #bottom img{
        right: -30%;
        top: 30%;
    }
    #page3 #bottom p{
        width: 90%;
        line-height: 4vw;
        font-size: 2.89vw;
    }
    #page3 #bottom h5{
        font-size: 5vw;
    }
    #page3 #bottom button{
        font-size: 5vw;
        font-weight: 500;
        padding: 2vw 5vw;
    }
    #page3 #bottom{
        height: 55%;
    }
    #page3 #top{
        height: 45%;
    }
    #page4{
        height: 70vh;
    }
    #page4 #fonts h1{
        font-size: 15vw;
        font-weight: 600;
        color: #000000b6;
        line-height: 12vw;
    }
    #page4 #fonts #circle{
        top: 22%;
        left: -25%;
        scale: 0.7;
    }
    #page4 #fonts #orange{
        top: 0;
        right: -35%;
        scale: 0.7;
    }
    #page4 #fonts h1:nth-child(2){
        margin-top: 5vh;
        margin-left: 25vw;
    }
    
    #page4 #fonts h1:nth-child(5){
        margin-top: 20vh;
        margin-left: 25vw;
    }
    #page4 #fonts h1:nth-child(4){
        margin-top: 7vh;
    }
    #page5{
        height: 120vh;
        width: 100vw;
        margin-top: 10vh;
        overflow: hidden;
    }
    #page5 #top #row{
        height: 10vh;
        gap: 5vw;
    }
    #page5 #top #row h1{
        font-size: 15vw;
        font-weight: 600;
        color: #000000c0;
    }
    #page5 #pinpage1{
        margin-top: 10vh;
        height: 30vh;
    }
    #page5 #pinpage2{
        margin-top: 45vh;
        height: 30vh;
    }
    #page5 #pinpage3{
        margin-top: 80vh;
        height: 30vh;
    }
    #page5 #pinpage4{
        margin-top: 115vh;
        height: 30vh;
    }
    #page5 svg{
        scale: 0.8;
        margin-top: -5vh;
        margin-left: -20vw;
        animation: rotate 10s linear infinite;
    }
    #page6{
        height: 85vh;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #page6 h1{
        font-size: 10vw;
        font-weight: 700;
        color: #000000c9;
    }
    #page6 h6{
        font-size: 6vw;
        font-weight: 500;
    }
    #page6 p{
        width: 100%;
        font-size: 3.5vw;
        margin-left: 0;
    }
    #page6 button{
        margin: 0;
        width: 80%;
        color: #BB7F7B;
        font-size: 4vw;
        padding: 2vw 3vw;
    }
    #page7{
        height: 85vh;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #page7 h1{
        font-size: 15vw;
        font-weight: 600;
        color: #000000c0;
    }
    #page7 :nth-child(2){
        margin-left: 15vw;
    }
    #page7 :nth-child(4){
        margin-left: 30vw;
    }
    #page7 :nth-child(6){
        margin-left: 3vw;
    }
    #page7 img{
        scale: 0.85;
    }
    #page7 #pink{
        top: 35vh;
        left: -25vw;
    }
    #page7 #orange{
        top: 7vh;
        right: -25vw;
    }
    #page8{
        height: 90vh;
    }
    #page8 h1{
        font-size: 9vw;
        font-weight: 600;
        color: #000000c0;
    }
    #page8 h5{
        font-size: 7vw;
        font-weight: 600;
    }
    #page9{
        height: 90vh;
        padding: 5vw;
        flex-direction: column-reverse;
    }
    #page9 #right{
        height: 90%;
        width: 100%;
    }
    #page9 #left{
        width: 100%;
    }
    #page9 h5{
        width: 100%;
    }
    #page9 #right h4{
        font-size: 5vw;
    }
    #page9 #left h2{
        font-size: 5vw;
        font-weight: 600;
    }
    #page9 button{
        font-size: 5vw;
        width: 100%;
    }
    #page10{
        height: 90vh;
    }
    #page10 #circle1{
        height: 90vw;
        width: 90vw;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
    #page10 #circle1 img{
    height: 120vw;
    width: 90vw;
    }
    #page10 #circle2{
        margin-top: -10vh;
        height: 70vw;
        width: 70vw;
        z-index: 3;
        /* background-color: #d38423; */
    }
    #page10 #top{
        align-items: center;
        flex-direction: column;
    }
    #page10 #circle2 h5{
        font-size: 3vw;
    }
    #page10 #circle2 h2{
        font-size: 3vw;
        color: #000000b8;
        font-family: jrbold;
    }
    #page10 #circle2 p{
        font-size: 2.5vw;
    }
    #page11{
        height: 30vh;
        flex-direction: column;
    }
    #page11 img{
        height: 7vh;
        width: 40vw;
    }
    #page11 :nth-child(2){
        display: none;
    }
    #page11 :nth-child(4){
        display: none;
    }
    #page12{
        height: 100vh;
        width: 100vw;
    }
    #page12 #topp #t{
        height: 25vh;
        font-size: 25vw;
        gap: 5vw;
        animation: rowanime 5s linear infinite;
    }
    #page12  #middlee h2{
        font-size: 10vw;
    }
    #page12  #middlee p{
        width: 70%;
        font-size: 3vw;
    }
    #page12 #bottomm{
        padding-bottom: 5vh;
        flex-direction: column;
        gap: 1vh;
        font-size: 4.5vw;
        text-align: center;
    }
}